.footer {
  background-color: #444F5A;
  padding: 0px 50px 5px; /* Diberikan padding atas dan bawah */
  color: #495057;
  text-align: center;
}

.footer h4 {
  color: #afb4b8;
  margin-bottom: 2px; /* Mengurangi ruang di bawah judul */
  margin-top: 7px;
  font-size: 1.2em;
}

.footer p {
  color: #d6dde3;
  margin-bottom: 4px; /* Mengurangi jarak di bawah teks paragraf */
  margin-top: 6px;
  font-size: 1em;
}

/* Menambahkan efek hover pada tautan */
.footer a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: #0056b3;
}

/* Mengatur warna latar belakang dan memberikan efek hover pada elemen dengan kelas .footer-link */
.footer-link:hover {
  background-color: #e9ecef;
  border-radius: 2px;
}