body {
  font-family: 'Comic Sans MS', cursive;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #FFC8C8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #7aa1bc;
  font-size: 32px;
  font-weight: bold;
  transition: color 0.3s;
  text-decoration: none;
  padding-right: 715px;
}

.navbar-brand:hover {
  color: rgb(239, 111, 175);
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  color:#7aa1bc;;
  font-size: 1.2rem;
  transition: color 0.3s;
  text-decoration: none;
  position: relative;
}

.nav-link:hover {
  color: #ff69b4;
}

.nav-link::before {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #ff69b4;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.nav-link:hover::before {
  width: 100%;
}

/* Menambahkan gaya untuk logo */
.navbar-logo img {
  height: 20px;
  width: auto;
}

.container-fluid {
  display: flex;
  align-items: center;
}